footer.footer
    .container.footer__container
        a.footer__logo(href="#")
            img(src="img/icons/logo-light.png" width="174" height="55" alt="Parates")

        .footer__main
            .footer__col
                nav.footer__nav(aria-label="Main navigation")
                    ul
                        li
                            a(href="#") Home

                        li
                            a(href="#") Suppliers

                        li
                            a(href="#") Contact us

                        li
                            a(href="#") Reviews

                        li
                            a(href="#") Rates by state

            .footer__col
                .footer__social.social.social--light
                    a.social__link.social__link--ln(href="#ln" target="_blank" title="Go to LinkedIn")
                    a.social__link.social__link--yb(href="#yb" target="_blank" title="Go to YouTube")
                    a.social__link.social__link--inst(href="#inst" target="_blank" title="Go to Instagram")
                    a.social__link.social__link--fb(href="#fb" target="_blank" title="Go to Facebook")

        .footer__copy
            .footer__copy-col
                p © PowerSetter.com. All rights reserved.

            .footer__copy-col
                a(href="privacy-policy.html") Privacy policy
                a(href="terms.html") Terms of service
