-
	var nav = [
		{
			name: "Home",
			link: "#"
		},
		{
			name: "About",
			link: "#about"
		},
		{
			name: "Contact",
			link: "#contact"
		},
		{
			name: "Legal",
			link: "#legal"
		},
		{
			name: "FAQ",
			link: "#faq"
		},
	]