@font-face {
	font-display: swap;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/inter/inter-regular.woff2') format('woff2'),
		url('../fonts/inter/inter-regular.ttf') format('truetype');
}

@font-face {
	font-display: swap;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/inter/inter-semibold.woff2') format('woff2'),
		url('../fonts/inter/inter-semibold.ttf') format('truetype');
}

@font-face {
	font-display: swap;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/inter/inter-bold.woff2') format('woff2'),
		url('../fonts/inter/inter-bold.ttf') format('truetype');
}

@font-face {
	font-display: swap;
	font-family: 'Rational Text';
	font-style: normal;
	font-weight: 200;
	src: url('../fonts/rational-text/rational-text-extralight.woff2') format('woff2'),
		url('../fonts/rational-text/rational-text-extralight.ttf') format('truetype');
}

@font-face {
	font-display: swap;
	font-family: 'Rational Text';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/rational-text/rational-text-light.woff2') format('woff2'),
		url('../fonts/rational-text/rational-text-light.ttf') format('truetype');
}

@font-face {
	font-display: swap;
	font-family: 'Rational Text';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/rational-text/rational-text-book.woff2') format('woff2'),
		url('../fonts/rational-text/rational-text-book.ttf') format('truetype');
}

@font-face {
	font-display: swap;
	font-family: 'Rational Text';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/rational-text/rational-text-medium.woff2') format('woff2'),
		url('../fonts/rational-text/rational-text-medium.ttf') format('truetype');
}

@font-face {
	font-display: swap;
	font-family: 'Rational Text';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/rational-text/rational-text-semibold.woff2') format('woff2'),
		url('../fonts/rational-text/rational-text-semibold.ttf') format('truetype');
}

@font-face {
	font-display: swap;
	font-family: 'Rational Display';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/rational-display/rational-display-medium.woff2') format('woff2'),
		url('../fonts/rational-display/rational-display-medium.ttf') format('truetype');
}

@font-face {
	font-display: swap;
	font-family: 'Rational Display';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/rational-display/rational-display-semibold.woff2') format('woff2'),
		url('../fonts/rational-display/rational-display-semibold.ttf') format('truetype');
}

@font-face {
	font-display: swap;
	font-family: 'Rational Display';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/rational-display/rational-display-bold.woff2') format('woff2'),
		url('../fonts/rational-display/rational-display-bold.ttf') format('truetype');
}