:root {
	--color-white-solid: #fff;
	--color-azure-26: #002a86;
	--color-yellow-50-120: rgba(255, 206, 0, 0.12);
	--color-yellow-50-0: rgba(255, 206, 0, 0);
	--color-white--120: rgba(255, 255, 255, 0.12);
	--color-white--360: rgba(255, 255, 255, 0.36);
	--color-white--750: rgba(255, 255, 255, 0.75);
	--color-yellow-50: #ffce00;
	--color-grey-11: #1b1b1b;
	--color-azure-31: #1a3d86;
	--color-white--850: rgba(255, 255, 255, 0.85);
	--color-grey-17: #2b2b2b;
	--color-grey-33: #555;
	--color-grey-96: #f5f5f5;
	--color-grey-91: #e8e8e8;
	--color-azure-26-80: rgba(0, 42, 134, 0.08);
	--color-spring-green-44-100: rgba(58, 166, 85, 0.1);
	--color-spring-green-44: #3aa655;
	--color-grey-40: #666;
	--color-azure-17: #0b1e4b;
	--color-white--920: rgba(255, 255, 255, 0.92);
	--color-black--100: rgba(0, 0, 0, 0.1);
	--color-yellow-50-160: rgba(255, 206, 0, 0.16);
	--color-orange-41: #d19b00;
	--color-white--180: rgba(255, 255, 255, 0.18);
	--color-white--900: rgba(255, 255, 255, 0.9);
	--color-orange-48: #f5b400;
	--resolution-blue: #002a86;
	--green-energy: #3aa655;
	--colorcharcoal: #2b2b2b;
	--keystone-gold: #ffce00;

    --font-family: "Inter", sans-serif;
    --second-family: "Rational Text", sans-serif;
    --third-family: "Rational Display", sans-serif;
}