$sm-px: 480px
$md-px: 768px
$lg-px: 992px
$xl-px: 1160px

$container-xl-px: 1120px

$sm: (min-width: $sm-px)
$md: (min-width: $md-px)
$lg: (min-width: $lg-px)
$xl: (min-width: $xl-px)

$sm-down: (max-width: 479px)
$md-down: (max-width: 767px)
$lg-down: (max-width: 991px)
$xl-down: (max-width: 1159px)

$font: 'Exo 2', sans-serif
$font-btn: 'Roboto', sans-serif
$font-inter: 'Inter', sans-serif

$transition: .15s ease