:root {
  --color-white-solid: #fff;
  --color-azure-26: #002a86;
  --color-yellow-50-120: rgba(255, 206, 0, 0.12);
  --color-yellow-50-0: rgba(255, 206, 0, 0);
  --color-white--120: rgba(255, 255, 255, 0.12);
  --color-white--360: rgba(255, 255, 255, 0.36);
  --color-white--750: rgba(255, 255, 255, 0.75);
  --color-yellow-50: #ffce00;
  --color-grey-11: #1b1b1b;
  --color-azure-31: #1a3d86;
  --color-white--850: rgba(255, 255, 255, 0.85);
  --color-grey-17: #2b2b2b;
  --color-grey-33: #555;
  --color-grey-96: #f5f5f5;
  --color-grey-91: #e8e8e8;
  --color-azure-26-80: rgba(0, 42, 134, 0.08);
  --color-spring-green-44-100: rgba(58, 166, 85, 0.1);
  --color-spring-green-44: #3aa655;
  --color-grey-40: #666;
  --color-azure-17: #0b1e4b;
  --color-white--920: rgba(255, 255, 255, 0.92);
  --color-black--100: rgba(0, 0, 0, 0.1);
  --color-yellow-50-160: rgba(255, 206, 0, 0.16);
  --color-orange-41: #d19b00;
  --color-white--180: rgba(255, 255, 255, 0.18);
  --color-white--900: rgba(255, 255, 255, 0.9);
  --color-orange-48: #f5b400;
  --resolution-blue: #002a86;
  --green-energy: #3aa655;
  --colorcharcoal: #2b2b2b;
  --keystone-gold: #ffce00;
  --font-family: "Inter", sans-serif;
  --second-family: "Rational Text", sans-serif;
  --third-family: "Rational Display", sans-serif;
}

@font-face {
  font-display: swap;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/inter/inter-regular.woff2') format('woff2'),
		url('../fonts/inter/inter-regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/inter/inter-semibold.woff2') format('woff2'),
		url('../fonts/inter/inter-semibold.ttf') format('truetype');
}

@font-face {
  font-display: swap;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/inter/inter-bold.woff2') format('woff2'),
		url('../fonts/inter/inter-bold.ttf') format('truetype');
}

@font-face {
  font-display: swap;
	font-family: 'Rational Text';
	font-style: normal;
	font-weight: 200;
	src: url('../fonts/rational-text/rational-text-extralight.woff2') format('woff2'),
		url('../fonts/rational-text/rational-text-extralight.ttf') format('truetype');
}

@font-face {
  font-display: swap;
	font-family: 'Rational Text';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/rational-text/rational-text-light.woff2') format('woff2'),
		url('../fonts/rational-text/rational-text-light.ttf') format('truetype');
}

@font-face {
  font-display: swap;
	font-family: 'Rational Text';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/rational-text/rational-text-book.woff2') format('woff2'),
		url('../fonts/rational-text/rational-text-book.ttf') format('truetype');
}

@font-face {
  font-display: swap;
	font-family: 'Rational Text';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/rational-text/rational-text-medium.woff2') format('woff2'),
		url('../fonts/rational-text/rational-text-medium.ttf') format('truetype');
}

@font-face {
  font-display: swap;
	font-family: 'Rational Text';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/rational-text/rational-text-semibold.woff2') format('woff2'),
		url('../fonts/rational-text/rational-text-semibold.ttf') format('truetype');
}

@font-face {
  font-display: swap;
	font-family: 'Rational Display';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/rational-display/rational-display-medium.woff2') format('woff2'),
		url('../fonts/rational-display/rational-display-medium.ttf') format('truetype');
}

@font-face {
  font-display: swap;
	font-family: 'Rational Display';
	font-style: normal;
	font-weight: 600;
	src: url('../fonts/rational-display/rational-display-semibold.woff2') format('woff2'),
		url('../fonts/rational-display/rational-display-semibold.ttf') format('truetype');
}

@font-face {
  font-display: swap;
	font-family: 'Rational Display';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/rational-display/rational-display-bold.woff2') format('woff2'),
		url('../fonts/rational-display/rational-display-bold.ttf') format('truetype');
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted;
}

b,strong {
  font-weight: bolder;
}

small {
  font-size: 87%;
}

sub,sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

img {
  border-style: none;
}

button,input,optgroup,select,textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,input {
  overflow: visible;
}

button,select {
  text-transform: none;
}

[type="button"],[type="reset"],[type="submit"],button {
  -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner,button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring,button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
  padding: 0;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

* {
  box-sizing: border-box;
}

details,main {
  display: block;
}

code,kbd,pre,samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

[hidden],template {
  display: none;
}

a,button {
  -webkit-tap-highlight-color: transparent;
}

.link,a {
  text-decoration: underline;
  text-decoration-color: transparent;
  text-underline-offset: 8px;
  transition: .15s;
}

.link:hover,a:hover {
}

body {
  font-family: var(--second-family);
  color: #000;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  background: #fff;
	/* overflow-x: hidden */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.h1,.h2,.h3,.h4,.h5,h1,h2,h3,h4,h5 {
  color: #000;
  font-family: var(--third-family);
  font-weight: 700;
  margin-top: 0;
}

.h1,h1 {
  font-weight: 600;
  font-size: 26px;
  line-height: 1;
  margin: 0 0 24px;
}

.h2,h2 {
  font-size: 24px;
  line-height: 1.1;
  margin: 0 0 20px;
}

.h3,h3 {
  font-size: 20px;
  line-height: 1.2;
  margin: 0 0 24px;
}

.h4,h4 {
  font-size: 24px;
  line-height: 1.1;
  margin: 0 0 16px;
}

.page-head {
  text-align: center;
  margin-bottom: 32px;
}

.page-head__title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 0;
}

.page-head__text {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 1.8;
  max-width: 700px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  margin-top: 20px;
}

.text,p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  margin: 16px 0;
}

ul:not([class]) {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
}

b,strong {
  font-weight: 700;
}

.text-uppercace {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-lg-center {
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding: 0 10px;
  max-width: 1178px;
}

.wrapper {
  overflow: hidden;
}

.page-container {
  width: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.main-aside-container {
  margin: 20px 0 80px;
}

.main-block {
  width: 100%;
}

.aside {
  min-width: 212px;
  max-width: 212px;
  margin-left: 102px;
}

.btn {
  font-family: var(--second-family);
  color: var(--color-white-solid);
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 0.04em;
  white-space: nowrap;
  line-height: unset;
  position: relative;
  text-decoration: none;
  background: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  min-height: 50px;
  transition: .2s;
  border-radius: 5px;
  outline: 0;
  cursor: pointer;
  user-select: none;
  border: 1px solid var(--color-white-solid);
}

.btn:hover {
}

.btn--reset {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  min-height: 1px;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;
}

.btn--accent {
  color: var(--color-white-solid);
  background: var(--color-azure-26);
  border-color: var(--color-azure-26);
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0);
}

.btn--accent:hover {
}

.btn--accent.btn--arrow-right:after {
  background-image: url('../img/icons/arrow-right-light.svg');
}

.btn--burger:before {
  content: '';
  width: 24px;
  height: 24px;
  min-width: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.btn--arrow-right:after {
  content: '';
  width: 24px;
  height: 24px;
  min-width: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-left: 6px;
}

.btn--burger:before {
  background-image: url('../img/icons/burger.svg');
}

.btns-spacer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -12px;
}

.btns-spacer > * {
  margin-right: 12px;
  margin-bottom: 12px;
}

.form__group {
  display: flex;
  flex-wrap: wrap;
  gap: 0 16px;
}

.form__group > * {
  width: calc(50% - 10px);
}

.form__send {
  width: 100%;
  min-height: 64px;
}

.form__footer {
  margin-top: 24px;
}

.input {
  font-family: var(--font-family);
  margin-bottom: 20px;
  display: block;
  position: relative;
}

.input__label {
  color: #999;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  display: inline-block;
  position: absolute;
  top: 16px;
  left: 20px;
  transition: .2s;
}

.input__cell {
  position: relative;
  font-family: var(--font-family);
  color: #000;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  background: #efefef;
  border-radius: 5px;
  min-height: 50px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 16px;
  width: 100%;
  transition: .2s;
  resize: none;
  border: none;
  outline: none;
}

.input__cell:focus ~ .input__label {
  color: var(--color-azure-26);
  font-size: 10px;
  top: 11px;
}

.input__cell:focus::placeholder {
  color: transparent;
}

textarea.input__cell {
  padding-top: 24px;
}

.input-has-value .input__label {
  color: var(--color-azure-26);
  font-size: 10px;
  top: 11px;
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.overflow-hidden {
  overflow: hidden;
}

.visibility-hidden {
  visibility: hidden;
}

img {
  display: block;
  max-width: 100%;
  width: auto;
  height: auto;
}

.img-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.img-cover--wrap {
  overflow: hidden;
  position: relative;
}

.hide-xl-down {
}

.hide-xl-only {
}

.hide-lg-down {
}

.hide-lg-up {
}

.hide-md-down {
}

.hide-md-up {
}

.hide-sm-down {
}

.hide-sm-only {
}

.social {
  display: flex;
}

.social__link {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  opacity: .8;
  transition: .2s;
}

.social__link:hover {
}

.social__link:before {
  content: '';
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 48px;
  height: 48px;
  min-width: 48px;
}

.social__link--ln:before {
}

.social__link--yb:before {
}

.social__link--inst:before {
}

.social__link--fb:before {
}

.social--light .social__link--ln:before {
  background-image: url('../img/icons/social/ln.svg');
}

.social--light .social__link--yb:before {
  background-image: url('../img/icons/social/yb.svg');
}

.social--light .social__link--inst:before {
  background-image: url('../img/icons/social/inst.svg');
}

.social--light .social__link--fb:before {
  background-image: url('../img/icons/social/fb.svg');
}

.section {
  position: relative;
  margin: 20px 0;
}

.section:first-child {
  margin-top: 0;
}

.section:last-child {
  margin-bottom: 20px;
}

.section__head {
  text-align: center;
  margin-bottom: 32px;
}

.section__title {
  margin-bottom: 0;
}

.section__text {
  font-size: 14px;
  margin: 12px 0 0;
}

.section--banner {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  overflow: hidden;
  margin-bottom: 0;
}

.section--banner:first-child {
  margin-top: -88px;
}

.section--banner + .section--bg-blue {
  margin-top: 0;
}

.section--bg-blue,.section--bg-gray,.section--bg-yellow {
  padding: 40px 0;
}

.section--bg-blue:before,.section--bg-gray:before,.section--bg-yellow:before {
  content: '';
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.section--bg-blue .section__text,.section--bg-blue .section__title {
  color: #fff;
}

.section--bg-blue:before {
  background: var(--color-azure-26);
}

.section--bg-gray:before {
  background: #f1f1f1;
}

.section--bg-yellow:before {
  background: #ffdb44;
}

.fadeIn {
  animation: fadeIn .2s;
  display: block;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.header {
  background: #002A86;
  position: relative;
  z-index: 99;
  padding: 20px 0;
  margin-bottom: 32px;
}

.header__container {
  max-width: 1680px;
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 48px;
}

.header__logo {
  display: block;
  min-width: 160px;
  max-width: 160px;
}

.header__nav {
  right: 10px;
  top: 60px;
}

.header__nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__nav-item {
  border-bottom: 1px solid rgba(158, 168, 175, .2);
}

.header__nav-item:last-child {
  margin: 0;
  border: none;
}

.header__nav-link {
  color: #000;
  font-weight: 600;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  min-height: 48px;
}

.header__nav-link:hover {
}

.header__burger {
  width: 40px;
  height: 40px;
}

.header__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .4);
  display: none;
  opacity: 0;
}

.header__overlay.is-show {
}

.header-mobile-menu .header__nav {
}

body.home .header {
  background: transparent;
  margin-bottom: 0;
}

.home-banner {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.home-banner::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .8);
  z-index: -1;
}

.home-banner__img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.home-banner__body {
  padding-top: 88px;
}

.home-banner__caption {
  font-family: var(--third-family);
  color: var(--color-white-solid);
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 8px;
}

.home-banner__caption span {
  color: var(--color-yellow-50);
}

.home-banner__title {
  color: var(--color-white-solid);
  text-align: center;
  max-width: 710px;
  margin: 0 auto;
}

.home-banner__title span {
  color: var(--color-yellow-50);
}

.home-banner__text {
  font-family: var(--third-family);
  color: var(--color-white-solid);
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  margin: 32px 0 0;
}

.home-banner__text span {
  color: var(--color-yellow-50);
}

.home-banner__form {
  background: var(--color-white-solid);
  border-radius: 14px;
  padding: 16px 20px 20px;
  max-width: 440px;
  margin: 60px auto 0;
}

.home-banner__form .input {
  width: 100%;
  margin: 0;
}

.home-banner__form-group {
  display: flex;
}

.home-banner__form-input {
  border-radius: 14px 0 0 14px;
}

.home-banner__form-submit {
  font-size: 16px;
  letter-spacing: 0.03em;
  border-radius: 0 14px 14px 0;
  padding: 0 16px;
}

.home-banner__form-caption {
  font-weight: 300;
  font-size: 13px;
  line-height: 1.5;
  text-align: center;
  max-width: 333px;
  margin: 18px auto 0;
}

.home-steps {
  font-family: var(--second-family);
}

.home-steps__wrapper {
  position: relative;
  background: var(--color-white-solid);
  padding: 24px;
  border-radius: 14px;
}

.home-steps__wrapper::before {
  content: '';
  width: 2px;
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
  background: url('../img/content/home-steps/line-vertical.svg');
  position: absolute;
  left: 50%;
  top: 24px;
  bottom: 24px;
  transform: translateX(-50%);
  z-index: 1;
}

.home-steps__row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -24px;
  margin-left: -24px;
  margin-bottom: -32px;
}

.home-steps__card {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 0 24px;
  margin-bottom: 32px;
}

.home-steps__card-inner {
  background: #f4f4f4;
  border-radius: 10px;
  height: 100%;
  padding: 10px 10px 10px 20px;
  display: flex;
  align-items: center;
}

.home-steps__card-icon--wrap {
  min-width: 36px;
  max-width: 36px;
  margin-right: 20px;
}

.home-steps__card-name {
  font-family: var(--third-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
}

.home-steps__card-text {
  font-size: 16px;
  margin-top: 8px;
}

.home-warning {
  font-family: var(--second-family);
  background: var(--color-yellow-50);
  border-radius: 28px;
  padding: 24px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
}

.home-warning__info {
  max-width: 540px;
}

.home-warning__name {
  font-family: var(--third-family);
  font-weight: 600;
  font-size: 18px;
  margin: 0;
}

.home-warning__text {
  font-size: 16px;
  margin: 16px 0 0;
}

.home-warning__img--wrap {
  min-width: 60px;
  max-width: 60px;
  margin-left: 32px;
}

.home-partners {
  overflow: hidden;
}

.home-partners__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -10px;
  margin-left: -10px;
  margin-bottom: -48px;
  padding: 0 20px;
}

.home-partners__img {
  max-height: 100%;
  height: 100%;
  object-fit: contain;
}

.home-partners__img--wrap {
  width: 50%;
  max-height: 56px;
  padding: 0 10px;
  margin-bottom: 48px;
}

.home-benefits__row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
  margin-bottom: -12px;
}

.home-benefits__card {
  width: 100%;
  padding: 0 10px;
  margin-bottom: 12px;
}

.home-benefits__card-inner {
  background: var(--color-white-solid);
  border: 1px solid var(--color-grey-91);
  border-radius: 12px;
  padding: 20px;
  height: 100%;
  display: flex;
  align-items: flex-start;
}

.home-benefits__card-icon {
  min-width: 36px;
  max-width: 36px;
}

.home-benefits__card-icon--wrap {
  background: var(--color-azure-26-80);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  width: 52px;
  height: 52px;
  min-width: 52px;
}

.home-benefits__card-name {
  font-family: var(--third-family);
  font-weight: 600;
  font-size: 18px;
}

.home-benefits__card-text {
  font-weight: 400;
  font-size: 16px;
  margin: 8px 0 0;
}

.home-reviews__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: -10px;
  margin-left: -10px;
  margin-bottom: -20px;
}

.home-reviews__card {
  width: 100%;
  padding: 0 10px;
  margin-bottom: 20px;
}

.home-reviews__card-head {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 8px;
  padding-left: 44px;
}

.home-reviews__card-body {
  display: flex;
  align-items: flex-start;
}

.home-reviews__card-name {
  font-weight: 600;
  font-size: 16px;
}

.home-reviews__card-rating {
  min-width: 84px;
  max-width: 84px;
}

.home-reviews__card-ava {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-reviews__card-ava--wrap {
  min-width: 32px;
  max-width: 32px;
  height: 32px;
  border-radius: 10px;
  margin-right: 12px;
  background-image: url('../img/icons/no-avatar.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
}

.home-reviews__card-content {
  background: #f1f1f1;
  border-radius: 14px;
  padding: 16px 32px 16px 12px;
}

.home-reviews__card-text {
  font-size: 16px;
}

.home-feedback {
  display: flex;
  align-items: flex-start;
  margin-top: 32px;
}

.home-feedback__img {
  transform: rotate(-8deg);
  min-width: 232px;
  max-width: 232px;
  margin: 0 auto;
}

.home-feedback__img--wrap {
  margin-top: 8px;
  transform: translateX(-50px);
  width: 100%;
  display: none;
}

.home-feedback__form {
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 720px;
  overflow: hidden;
}

.home-feedback__form-body {
  background: var(--color-white-solid);
  padding: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 0 16px;
}

.home-feedback__form-body > * {
  flex: 1 1 240px;
}

.home-feedback__form-footer {
  background: #f4f4f4;
  padding: 20px;
  display: flex;
}

.home-feedback__form-footer .btn {
  font-size: 16px;
  border-radius: 14px;
  letter-spacing: 0.03em;
  margin-left: auto;
}

.home-faq__card {
  background: #f1f1f1;
  border-radius: 14px;
  padding: 28px 32px;
  margin-bottom: 12px;
}

.home-faq__card:last-child {
  margin: 0;
}

.home-faq__card-btn {
  font-family: var(--third-family);
  color: var(--color-azure-26);
  font-weight: 600;
  font-size: 18px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.home-faq__card-btn:after {
  content: '';
  width: 20px;
  height: 20px;
  min-width: 20px;
  background: url('../img/icons/home-faq-chevron.svg') no-repeat center / contain;
  margin-left: 32px;
  transition: .2s;
}

.home-faq__card-btn:hover {
}

.home-faq__card-btn[aria-expanded="true"]:after {
  transform: rotate(180deg);
}

.home-faq__card-btn[aria-expanded="true"] ~ .home-faq__card-content {
  margin-top: 28px;
}

.home-faq__card-content {
  height: 0;
  transition: .2s;
  overflow: hidden;
}

.home-faq__card-content > * {
  margin: 20px 0;
}

.home-faq__card-content > *:last-child {
  margin-bottom: 0;
}

.home-faq__card-content > *:first-child {
  margin-top: 0;
}

.feedback {
  width: 100%;
  max-width: 740px;
}

.feedback__title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 32px;
}

.feedback__form-body {
}

.feedback__form-left {
}

.feedback__form-right {
  width: 100%;
}

.feedback__form .input__label {
  color: #00aeed;
}

.feedback__form .input__cell:focus ~ .input__label {
  color: #00aeed;
}

.feedback__form .btn {
  font-weight: 600;
  font-size: 16px;
  width: 100%;
}

.feedback__form ~ .feedback__status {
  margin-top: 60px;
}

.feedback__status {
  font-family: var(--font-family);
}

.feedback__status-icon {
  width: 40px;
  margin-bottom: 40px;
}

.feedback__status-title {
  font-weight: 700;
  font-size: 28px;
  margin: 0;
}

.feedback__status-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  margin: 20px 0 0;
}

.textarea {
  font-family: var(--font-family);
  margin-right: auto;
  margin-left: auto;
}

.textarea .h1,.textarea h1 {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 32px;
}

.textarea .h2,.textarea h2 {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 18px;
  margin-top: 32px;
}

.textarea .h5,.textarea h5 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  margin-top: 32px;
  margin-bottom: 10px;
}

.textarea p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  margin: 10px 0;
}

.textarea p big {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
}

.textarea p a {
  color: #000;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  word-wrap: break-word;
}

.textarea p a:hover {
}

.textarea ul {
  margin: 10px 0;
  padding-left: 16px;
}

.textarea ul li {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  margin: 0 0 10px;
}

.textarea ul li:last-child {
  margin: 0;
}

.textarea > *:last-child {
  margin-bottom: 0;
}

.textarea > *:first-child {
  margin-top: 0;
}

.footer {
  font-family: var(--font-family);
  background: var(--color-azure-26);
  padding: 40px 0;
  margin-top: 32px;
}

.footer__logo {
  display: none;
  min-width: 226px;
  max-width: 226px;
  margin-bottom: 40px;
}

.footer__main {
}

.footer__col {
  margin-bottom: 40px;
}

.footer__col:last-child {
  margin: 0;
}

.footer__nav {
  max-width: 700px;
}

.footer__nav ul {
  list-style: none;
  padding: 0;
  margin: 0 -10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.footer__nav ul li {
  width: 50%;
  padding: 0 10px;
}

.footer__nav ul a {
  color: var(--color-white-solid);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
}

.footer__nav ul a:hover {
}

.footer__copy {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px 20px;
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid var(--color-white-solid);
}

.footer__copy-col {
  display: flex;
  gap: 10px 48px;
}

.footer__copy-col a:not([class]),.footer__copy-col p:not([class]) {
  color: #999;
  font-size: 12px;
  margin: 0;
}

.footer__copy-col a:not([class]):hover {
}

body.home .footer {
  margin-top: 0;
}

.about-us {
  font-family: var(--font-family);
}

.about-us__title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 32px;
}

.about-us__container {
}

.about-us__main {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.about-us__info p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  margin: 10px 0;
}

.about-us__info p a {
  color: #00aeed;
  text-decoration: none;
}

.about-us__info p a:hover {
}

.about-us__info > *:last-child {
  margin-bottom: 0;
}

.about-us__info > *:first-child {
  margin-top: 0;
}

.about-us__aside {
  margin: 32px 0 0;
}

.about-us__aside-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.about-us__aside-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.about-us__aside-list li {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  margin-bottom: 10px;
}

.about-us__aside-list li:last-child {
  margin: 0;
}

.about-us__aside-list li a {
  color: #00aeed;
  text-decoration: none;
}

.about-us__aside-list li a:hover {
}

.contact-us {
}

.companies {
}

.companies__row {
  display: flex;
  flex-wrap: wrap;
}

.companies__card {
  flex: 1 1 350px;
  padding: 0 10px;
  margin-bottom: 20px;
}

.companies__card-inner {
  color: #000;
  background: #f6f7f9;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  display: block;
  padding: 32px 20px 24px;
}

.companies__card-inner:hover .companies__card-btn {
  transform: translateX(12px);
}

.companies__card-logo {
  mix-blend-mode: multiply;
}

.companies__card-logo--wrap {
  max-width: 180px;
  margin: 0 0 24px;
}

.companies__card-text {
  font-family: var(--font-family);
  color: #000;
  font-size: 14px;
  line-height: 1.8;
}

.companies__card-btn {
  margin-top: 16px;
}

.companies__card-btn:after {
  margin-left: 0;
  background-image: url('../img/icons/arrow-right-blue.svg');
}

.blog {
}

.blog__row {
  display: flex;
  flex-wrap: wrap;
}

.post-card {
  flex: 1 1 350px;
  padding: 0 10px;
  margin-bottom: 20px;
}

.post-card__inner {
  color: #000;
  background: #f6f7f9;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  display: block;
}

.post-card__inner:hover .post-card__img {
  transform: scale(1.05);
}

.post-card__inner:hover .post-card__name {
}

.post-card__img {
  position: absolute;
  top: 0;
  left: 0;
  transition: .2s ease;
}

.post-card__img--wrap {
  position: relative;
  padding-top: 56%;
  overflow: hidden;
}

.post-card__info {
  padding: 20px;
}

.post-card__name {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  margin: 0;
  transition: .2s;
}

.post-card__text {
  font-family: var(--font-family);
  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  margin: 16px 0 0;
}

.article {
  font-family: var(--font-family);
}

.article .article__title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 32px;
}

.article .article__content {
  margin-right: auto;
  margin-left: auto;
}

.article .article__content .h2,.article .article__content h2 {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 18px;
  margin-top: 32px;
}

.article .article__content .h5,.article .article__content h5 {
  font-family: var(--third-family);
  font-weight: 600;
  font-size: 16px;
  margin-top: 32px;
  margin-bottom: 10px;
}

.article .article__content p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  margin: 10px 0;
}

.article .article__content p big {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
}

.article .article__content p a {
  color: #000;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
  word-wrap: break-word;
}

.article .article__content p a:hover {
}

.article .article__content ul {
  margin: 10px 0;
  padding-left: 16px;
}

.article .article__content ul li {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8;
  margin: 0 0 10px;
}

.article .article__content ul li:last-child {
  margin: 0;
}

.article .article__content > *:last-child {
  margin-bottom: 0;
}

.article .article__content > *:first-child {
  margin-top: 0;
}

.page-error {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-error__title {
  font-weight: 700;
  font-size: 80px;
}

.page-error__caption {
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 28px;
  margin-top: -24px;
}

.page-error__text {
  font-family: var(--second-family);
  font-weight: 500;
  font-size: 20px;
  margin: 24px 0 0;
}

@media (min-width: 480px) {
  .page-head {
    margin-bottom: 40px;
  }

  .container {
    padding: 0 32px;
  }

  .hide-sm-only {
    display: none;
  }

  .section {
    margin: 30px 0;
  }

  .section:last-child {
    margin-bottom: 60px;
  }

  .section__text {
    font-size: 18px;
  }

  .section--banner {
    margin-bottom: 0;
  }

  .section--banner + .section--bg-blue {
    margin-top: 0;
  }

  .section--bg-blue,.section--bg-gray,.section--bg-yellow {
    padding: 60px 0;
  }

  .header {
    margin-bottom: 40px;
  }

  .header__nav {
    right: 32px;
  }

  .home-banner__caption {
    font-size: 14px;
  }

  .home-banner__form-submit {
    padding: 0 28px;
  }

  .home-warning {
    margin-top: 20px;
  }

  .home-warning__img--wrap {
    min-width: 84px;
    max-width: 84px;
  }

  .home-partners__img--wrap {
    width: 33.3%;
  }

  .home-reviews__row {
    margin-bottom: -32px;
  }

  .home-reviews__card {
    margin-bottom: 32px;
  }

  .home-reviews__card-content {
    padding: 16px 48px 16px 12px;
  }

  .feedback__title {
    margin-bottom: 40px;
  }

  .textarea .h1,.textarea h1 {
    margin-bottom: 40px;
  }

  .textarea .h2,.textarea h2 {
    margin-top: 40px;
  }

  .textarea .h5,.textarea h5 {
    margin-top: 40px;
  }

  .footer {
    margin-top: 40px;
  }

  .about-us__title {
    margin-bottom: 40px;
  }

  .companies__card-inner {
    padding: 32px 20px;
  }

  .article .article__title {
    margin-bottom: 40px;
  }

  .article .article__content .h2,.article .article__content h2 {
    margin-top: 40px;
  }

  .article .article__content .h5,.article .article__content h5 {
    margin-top: 40px;
  }

  .page-error__title {
    font-size: 100px;
  }

  .page-error__caption {
    font-size: 32px;
  }

  .page-error__text {
    font-size: 22px;
  }
}

@media (min-width: 768px) {
  .h1,h1 {
    font-size: 40px;
  }

  .h2,h2 {
    font-size: 28px;
  }

  .form__footer {
    margin-top: 32px;
  }

  .hide-md-up {
    display: none;
  }

  .home-partners__row {
    padding: 0 48px;
  }

  .home-partners__img--wrap {
    width: 20%;
  }

  .home-benefits__row {
    margin-bottom: -20px;
  }

  .home-benefits__card {
    width: 50%;
    margin-bottom: 20px;
  }

  .home-benefits__card-inner {
    min-height: 184px;
  }

  .home-reviews__card {
    width: 50%;
  }

  .feedback__form-body {
    display: flex;
    align-items: flex-start;
  }

  .feedback__form-left {
    min-width: 220px;
    max-width: 220px;
    margin-right: 20px;
  }

  .footer {
    padding: 52px 0 60px;
  }

  .footer__logo {
    display: block;
    min-width: 300px;
    max-width: 300px;
  }

  .footer__main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: -20px;
    margin-left: -20px;
  }

  .footer__col {
    padding: 0 20px;
    margin-bottom: 0;
  }

  .footer__nav ul {
    margin: 0 -10px -8px;
  }

  .footer__nav ul li {
    margin-bottom: 8px;
  }

  .footer__copy-col a:not([class]),.footer__copy-col p:not([class]) {
    color: var(--color-white-solid);
  }

  .about-us__container {
    display: flex;
    align-items: flex-start;
  }

  .about-us__aside {
    min-width: 225px;
    max-width: 225px;
    margin: 0 0 0 20px;
  }
}

@media (min-width: 992px) {
  .link:hover,a:hover {
    color: #0236a6;
  }

  .text-lg-center {
    text-align: center;
  }

  .main-aside-container {
    display: flex;
    flex-wrap: nowrap;
    margin: 40px 0 120px;
  }

  .hide-lg-up {
    display: none;
  }

  .social__link:hover {
    opacity: 1;
  }

  .section__head {
    margin-bottom: 24px;
  }

  .section--banner:first-child {
    margin-top: -108px;
  }

  .header__row {
    min-height: 68px;
  }

  .header__logo {
    min-width: 226px;
    max-width: 226px;
  }

  .header__nav {
    right: auto;
    top: auto;
  }

  .header__nav-list {
    display: flex;
    align-items: center;
  }

  .header__nav-item {
    margin: 0 40px 0 0;
    border-bottom: none;
  }

  .header__nav-link {
    color: var(--color-white-solid);
    font-size: 20px;
    min-height: 1px;
  }

  .header__nav-link:hover {
    color: rgba(255, 255, 255, .7);
  }

  .header__burger {
    display: none;
  }

  .home-banner {
    min-height: 582px;
  }

  .home-banner__body {
    padding-top: 40px;
  }

  .home-banner__text {
    margin: 20px 0 0;
  }

  .home-banner__form {
    margin: 24px auto 0;
  }

  .home-steps__wrapper {
    padding: 12px;
    border-radius: 10px;
  }

  .home-steps__wrapper::before {
    height: 3px;
    width: auto;
    background: url('../img/content/home-steps/line-horizontal.svg');
    left: 36px;
    right: 36px;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
  }

  .home-steps__card {
    width: 33.3%;
  }

  .home-faq__card-btn:hover {
    color: #0236a6;
  }

  .textarea p a:hover {
    text-decoration-color: transparent;
  }

  .footer__nav ul a:hover {
    color: rgba(255, 255, 255, .7);
  }

  .footer__copy-col a:not([class]):hover {
    color: rgba(255, 255, 255, .7);
  }

  .article .article__content p a:hover {
    text-decoration-color: transparent;
  }
}

@media (min-width: 1160px) {
  .h1,h1 {
    font-size: 52px;
  }

  .h2,h2 {
    font-size: 32px;
  }

  .h3,h3 {
    font-size: 24px;
  }

  .page-head {
    margin-bottom: 60px;
  }

  .page-head__title {
    font-size: 40px;
  }

  .text,p {
    font-size: 16px;
  }

  .aside {
    min-width: 282px;
    max-width: 282px;
    margin-left: 128px;
  }

  .btn:hover {
    color: #fff;
    background: #412920;
    border-color: #412920;
  }

  .btn--accent:hover {
    color: var(--color-white-solid);
    background: #0236a6;
    border-color: #0236a6;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.24);
  }

  .hide-xl-only {
    display: none;
  }

  .section {
    margin: 50px 0;
  }

  .section:last-child {
    margin-bottom: 100px;
  }

  .section__head {
    margin-bottom: 40px;
  }

  .section__text {
    font-size: 20px;
  }

  .section--banner {
    margin-bottom: 0;
  }

  .section--banner:first-child {
    margin-top: -124px;
  }

  .section--banner + .section--bg-blue {
    margin-top: 0;
  }

  .section--bg-blue,.section--bg-gray,.section--bg-yellow {
    padding: 100px 0;
  }

  .header {
    margin-bottom: 60px;
  }

  .header__row {
    min-height: 84px;
  }

  .header__logo {
    min-width: 282px;
    max-width: 282px;
  }

  .home-banner {
    min-height: 732px;
    padding: 120px 0;
  }

  .home-banner__body {
    padding-top: 60px;
  }

  .home-banner__caption {
    font-size: 16px;
    margin-bottom: 12px;
  }

  .home-banner__text {
    font-size: 24px;
    margin: 24px 0 0;
  }

  .home-banner__form {
    margin: 40px auto 0;
  }

  .home-steps {
    position: relative;
    max-width: 1400px;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 32px;
  }

  .home-steps__wrapper {
    padding: 20px;
    border-radius: 28px;
  }

  .home-steps__row {
    margin-right: -36px;
    margin-left: -36px;
  }

  .home-steps__card {
    padding: 0 36px;
  }

  .home-steps__card-inner {
    border-radius: 28px;
    padding: 20px 20px 20px 32px;
  }

  .home-steps__card-icon--wrap {
    min-width: 52px;
    max-width: 52px;
    margin-right: 28px;
  }

  .home-steps__card-name {
    font-size: 24px;
  }

  .home-steps__card-text {
    font-size: 20px;
  }

  .home-warning {
    padding: 32px 40px 32px 48px;
    margin-top: 28px;
    max-width: 840px;
  }

  .home-warning__name {
    font-weight: 700;
    font-size: 28px;
  }

  .home-warning__text {
    font-size: 20px;
  }

  .home-partners__row {
    margin-right: -36px;
    margin-left: -36px;
    padding: 0 32px;
  }

  .home-partners__img--wrap {
    padding: 0 36px;
  }

  .home-benefits__card-inner {
    border-radius: 14px;
    padding: 24px;
  }

  .home-benefits__card-name {
    font-weight: 700;
    font-size: 28px;
  }

  .home-benefits__card-text {
    font-weight: 500;
    font-size: 18px;
  }

  .home-reviews__card-head {
    padding-left: 56px;
  }

  .home-reviews__card-rating {
    min-width: 100px;
    max-width: 100px;
  }

  .home-reviews__card-ava--wrap {
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    margin-right: 16px;
    background-size: 24px;
  }

  .home-reviews__card-content {
    padding: 20px 52px 20px 16px;
  }

  .home-reviews__card-text {
    font-size: 18px;
  }

  .home-feedback {
    margin-top: 64px;
    position: relative;
    max-width: 1400px;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 32px;
  }

  .home-feedback__img--wrap {
    display: block;
  }

  .home-feedback__form {
    margin-right: 0;
    max-width: 690px;
    min-width: 690px;
  }

  .home-feedback__form-footer {
    padding: 20px 24px;
  }

  .home-faq__card {
    padding: 32px 40px;
    margin-bottom: 16px;
  }

  .home-faq__card-btn {
    font-size: 22px;
  }

  .home-faq__card-btn:after {
    width: 24px;
    height: 24px;
    min-width: 24px;
  }

  .feedback {
    margin-right: auto;
    margin-left: auto;
  }

  .feedback__title {
    font-size: 40px;
  }

  .textarea {
    max-width: 670px;
  }

  .textarea .h1,.textarea h1 {
    font-size: 40px;
  }

  .textarea .h2,.textarea h2 {
    font-size: 28px;
  }

  .footer {
    margin-top: 60px;
  }

  .about-us {
    max-width: 670px;
    margin: 0 auto;
  }

  .about-us__title {
    font-size: 40px;
  }

  .about-us__container {
    margin-right: -345px;
  }

  .about-us__main {
    min-width: 670px;
    max-width: 670px;
  }

  .about-us__info p a:hover {
    color: #0236a6;
  }

  .about-us__aside {
    min-width: 325px;
    max-width: 325px;
  }

  .about-us__aside-list li a:hover {
    color: #0236a6;
  }

  .companies {
    position: relative;
    max-width: 1400px;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 32px;
  }

  .blog {
    position: relative;
    max-width: 1400px;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 32px;
  }

  .post-card__inner:hover .post-card__name {
    color: #0236a6;
  }

  .article .article__title {
    font-size: 40px;
  }

  .article .article__content {
    max-width: 670px;
  }

  .article .article__content .h2,.article .article__content h2 {
    font-size: 28px;
  }

  .page-error__title {
    font-size: 128px;
  }

  .page-error__caption {
    font-size: 48px;
  }

  .page-error__text {
    font-size: 24px;
  }
}

@media (max-width: 1178px) {
  .section--banner {
    width: auto;
    left: 0;
    transform: none;
    margin-right: -32px;
    margin-left: -32px;
    padding: 0 32px;
  }
}

@media (max-width: 479px) {
  .section--banner {
    margin-right: -10px;
    margin-left: -10px;
    padding: 0 10px;
  }

  .hide-sm-down {
    display: none;
  }
}

@media (max-width: 374px) {
  .home-banner__form .input__label {
    top: 18px;
    font-size: 12px;
  }
}

@media (max-width: 991px) {
  .aside {
    display: none;
  }

  .hide-lg-down {
    display: none;
  }

  .header__nav {
    display: none;
    opacity: 0;
    position: absolute;
    padding: 8px 24px;
    background: #fff;
    width: 160px;
    border-radius: 10px;
    transform: translateY(8px);
    z-index: 100;
  }

  .header__burger {
    z-index: 100;
  }

  .header__overlay.is-show {
    display: block;
    animation: fadeIn .2s forwards;
  }

  .header-mobile-menu .header__nav {
    display: block;
    animation: fadeIn .2s forwards;
  }
}

@media (max-width: 1159px) {
  .hide-xl-down {
    display: none;
  }
}

@media (max-width: 767px) {
  .hide-md-down {
    display: none;
  }

  .feedback__title {
    text-align: center;
  }

  .about-us__title {
    text-align: center;
  }
}
