section.section.section--bg-gray
    .section__head 
        h2.section__title Why Pennsylvanians Trust PArates.org
        .section__text Built for Pennsylvania. Focused on savings, clarity, and community.

    .home-benefits
        .home-benefits__row
            .home-benefits__card
                .home-benefits__card-inner
                    .home-benefits__card-icon--wrap
                        img.home-benefits__card-icon(src="img/content/home-benefits/icon_0.png" width="36" height="36" alt="Name card")

                    .home-benefits__info
                        .home-benefits__card-name Save Up to 30%
                        .home-benefits__card-text Lower annual energy bills with fixed&nbsp;plans&nbsp;tailored to PA.

            .home-benefits__card
                .home-benefits__card-inner
                    .home-benefits__card-icon--wrap
                        img.home-benefits__card-icon(src="img/content/home-benefits/icon_1.png" width="36" height="36" alt="Name card")

                    .home-benefits__info
                        .home-benefits__card-name Built for PA
                        .home-benefits__card-text Local-first platform with transparent offers from trusted providers.

            .home-benefits__card
                .home-benefits__card-inner
                    .home-benefits__card-icon--wrap
                        img.home-benefits__card-icon(src="img/content/home-benefits/icon_2.png" width="36" height="36" alt="Name card")

                    .home-benefits__info
                        .home-benefits__card-name Go Green for Free
                        .home-benefits__card-text Choose renewable energy <br /> plans at no extra cost to you.

            .home-benefits__card
                .home-benefits__card-inner
                    .home-benefits__card-icon--wrap
                        img.home-benefits__card-icon(src="img/content/home-benefits/icon_3.png" width="36" height="36" alt="Name card")

                    .home-benefits__info
                        .home-benefits__card-name We Support LIHEAP
                        .home-benefits__card-text Energy suppliers provide diverse energy options&nbsp;including renewable green energy and fixed-rate plans, expanding consumer choices beyond traditional utilities.

            
