section.section
    .section__head 
        h2.section__title Built for Pennsylvania

    .home-partners
        .home-partners__row
            .home-partners__img--wrap
                img.home-partners__img(src="img/content/home-partners/item_0.png" width="176" height="56" alt="Partner")

            .home-partners__img--wrap
                img.home-partners__img(src="img/content/home-partners/item_1.png" width="176" height="56" alt="Partner")

            .home-partners__img--wrap
                img.home-partners__img(src="img/content/home-partners/item_2.png" width="176" height="56" alt="Partner")

            .home-partners__img--wrap
                img.home-partners__img(src="img/content/home-partners/item_3.png" width="176" height="56" alt="Partner")

            .home-partners__img--wrap
                img.home-partners__img(src="img/content/home-partners/item_4.png" width="176" height="56" alt="Partner")

            .home-partners__img--wrap
                img.home-partners__img(src="img/content/home-partners/item_5.png" width="176" height="56" alt="Partner")

            .home-partners__img--wrap
                img.home-partners__img(src="img/content/home-partners/item_6.png" width="176" height="56" alt="Partner")

            .home-partners__img--wrap
                img.home-partners__img(src="img/content/home-partners/item_7.png" width="176" height="56" alt="Partner")

            .home-partners__img--wrap
                img.home-partners__img(src="img/content/home-partners/item_8.png" width="176" height="56" alt="Partner")