section.section
    .section__head 
        h2.section__title Real Screenshots From Real PA Energy Bills (42% Average Reduction)
        .section__text No paid reviews. Just actual bills showing actual savings. See yours in 3 minutes.

    .home-reviews
        .home-reviews__row
            .home-reviews__card
                .home-reviews__card-inner
                    .home-reviews__card-head
                        .home-reviews__card-name Robert, Chester County - Saves $2,089/year
                        .home-reviews__card-rating--wrap
                            img.home-reviews__card-rating(src="img/icons/rating/rating-5.svg" width="99" height="18" alt="5 star")

                    .home-reviews__card-body
                        .home-reviews__card-ava--wrap(style="background-color: #d3552f")

                        .home-reviews__card-content
                            .home-reviews__card-text PECO wanted $287/month. Switched to fixed rate in 3 minutes. Now paying $163. That's $124/month back in my pocket. Wish I'd done this 3 years ago - would've saved a lot

            .home-reviews__card
                .home-reviews__card-inner
                    .home-reviews__card-head
                        .home-reviews__card-name Michael, Bethlehem, PA - Saves $1,847/year
                        .home-reviews__card-rating--wrap
                            img.home-reviews__card-rating(src="img/icons/rating/rating-5.svg" width="99" height="18" alt="5 star")

                    .home-reviews__card-body
                        .home-reviews__card-ava--wrap(style="background-color: #4fa1ff")

                        .home-reviews__card-content
                            .home-reviews__card-text PPL had me on their 'default rate' for 5 years like a sucker. This site showed me 14 other options PPL never mentioned. Saving $154/month. Set up took 4 minutes on my phone during lunch break

            .home-reviews__card
                .home-reviews__card-inner
                    .home-reviews__card-head
                        .home-reviews__card-name Nancy, Erie, PA - Saves $2,412/year
                        .home-reviews__card-rating--wrap
                            img.home-reviews__card-rating(src="img/icons/rating/rating-5.svg" width="99" height="18" alt="5 star")

                    .home-reviews__card-body
                        .home-reviews__card-ava--wrap(style="background-color: #9da0ff")

                        .home-reviews__card-content
                            .home-reviews__card-text UGI's variable rate jumped 3 times last year. Now locked at $0.081/kWh for 3 years. My coworkers are still getting hit with increases every month. Not me
