section.section.section--bg-gray
    .section__head 
        h2.section__title We've Saved Pennsylvanians $82.4 Million Since 2019. Here's How:
        .section__text Zero commissions. Zero bias. Just math that saves you $1,740/year on average.

    .home-benefits
        .home-benefits__row
            .home-benefits__card
                .home-benefits__card-inner
                    .home-benefits__card-icon--wrap
                        img.home-benefits__card-icon(src="img/content/home-benefits/icon_0.png" width="36" height="36" alt="Name card")

                    .home-benefits__info
                        .home-benefits__card-name Average Savings: $1,740/Year
                        .home-benefits__card-text Not 'up to.' Not 'potentially.' The actual average our users save. Check your ZIP to see your exact number.

            .home-benefits__card
                .home-benefits__card-inner
                    .home-benefits__card-icon--wrap
                        img.home-benefits__card-icon(src="img/content/home-benefits/icon_1.png" width="36" height="36" alt="Name card")

                    .home-benefits__info
                        .home-benefits__card-name 31 PA Providers, One Screen
                        .home-benefits__card-text See every fixed rate available in PA—including 7 providers that don't advertise. Takes 8 seconds

            .home-benefits__card
                .home-benefits__card-inner
                    .home-benefits__card-icon--wrap
                        img.home-benefits__card-icon(src="img/content/home-benefits/icon_2.png" width="36" height="36" alt="Name card")

                    .home-benefits__info
                        .home-benefits__card-name 100% Renewable: Same Price
                        .home-benefits__card-text 12 green energy plans that cost LESS than your current dirty energy. Switch to clean for $0 extra

            .home-benefits__card
                .home-benefits__card-inner
                    .home-benefits__card-icon--wrap
                        img.home-benefits__card-icon(src="img/content/home-benefits/icon_3.png" width="36" height="36" alt="Name card")

                    .home-benefits__info
                        .home-benefits__card-name LIHEAP Users Save Extra $2,100
                        .home-benefits__card-text Your LIHEAP benefits stack with fixed rates. 6,200 qualifying families now save $175/month total

            
