section.section.section--banner
    .home-banner
        .container.home-banner__container
            img.home-banner__img(src="img/content/home-banner/bg.png" width="1920" height="733" alt="Banner image")

            .home-banner__body
                .home-banner__caption Energy Choices • Made in <span>PA</span>
                h1.home-banner__title How 2,847 Homeowners Cut Their Energy Bills by <span>42%</span> in Under <span>5 Minutes</span>
                .home-banner__text No Contracts, No Cancellation Fees, No Catch—Just Lower Bills Starting Tomorrow

                form.home-banner__form(action="/.php" method="POST")
                    .home-banner__form-group
                        label.input
                            input.input__cell.home-banner__form-input(type="text" name="zip-code")
                            .input__label Enter ZIP Code

                        button.btn.btn--accent.home-banner__form-submit(type="submit" aria-label="Send form") Compare Rates

                    .home-banner__form-caption Takes less than 60 seconds. Your service never gets interrupted when you switch.
