section.section
    .section__head 
        h2.section__title Pennsylvania Families & Businesses Already Saving
        .section__text Real stories from across the Keystone State.

    .home-reviews
        .home-reviews__row
            .home-reviews__card
                .home-reviews__card-inner
                    .home-reviews__card-head
                        .home-reviews__card-name Robert, Chester, NJ
                        .home-reviews__card-rating--wrap
                            img.home-reviews__card-rating(src="img/icons/rating/rating-5.svg" width="99" height="18" alt="5 star")

                    .home-reviews__card-body
                        .home-reviews__card-ava--wrap(style="background-color: #d3552f")

                        .home-reviews__card-content
                            .home-reviews__card-text Thanks to PowerSetter, I found the cheapest electricity rate and switched my electricity supplier!

            .home-reviews__card
                .home-reviews__card-inner
                    .home-reviews__card-head
                        .home-reviews__card-name Michael, Brooklyn, NY
                        .home-reviews__card-rating--wrap
                            img.home-reviews__card-rating(src="img/icons/rating/rating-5.svg" width="99" height="18" alt="5 star")

                    .home-reviews__card-body
                        .home-reviews__card-ava--wrap(style="background-color: #4fa1ff")

                        .home-reviews__card-content
                            .home-reviews__card-text I locked into a low fixed-rate plan instead of ConEd's only option of unpredictable&nbsp;variable&nbsp;rate.

            .home-reviews__card
                .home-reviews__card-inner
                    .home-reviews__card-head
                        .home-reviews__card-name Nancy, Bolton, CT
                        .home-reviews__card-rating--wrap
                            img.home-reviews__card-rating(src="img/icons/rating/rating-5.svg" width="99" height="18" alt="5 star")

                    .home-reviews__card-body
                        .home-reviews__card-ava--wrap(style="background-color: #9da0ff")

                        .home-reviews__card-content
                            .home-reviews__card-text I didn't even know I could compare electric rates. I always thought <br />Eversource was my only choice!
