section.section
    .section__head 
        h2.section__title F.A.Q
        .section__text No sales calls. No surprises. Just transparent plans from trusted PA providers.

    .home-faq
        .home-faq__card
            button.btn--reset.home-faq__card-btn.js-acc(aria-expanded="true" aria-label="Toggle acc") Question 1
            .home-faq__card-content
                p Energy suppliers provide diverse energy options including renewable green energy and fixed-rate plans, expanding consumer choices beyond traditional utilities.вцф

        .home-faq__card
            button.btn--reset.home-faq__card-btn.js-acc(aria-expanded="false" aria-label="Toggle acc") Question 2
            .home-faq__card-content
                p Answer 2

        .home-faq__card
            button.btn--reset.home-faq__card-btn.js-acc(aria-expanded="false" aria-label="Toggle acc") Question 3
            .home-faq__card-content
                p Answer 3

        .home-faq__card
            button.btn--reset.home-faq__card-btn.js-acc(aria-expanded="false" aria-label="Toggle acc") Question 4
            .home-faq__card-content
                p Answer 4