section.section.section--bg-blue
    .section__head
        h2.section__title Lower Your Energy Bills in 3 Easy Steps
        .section__text No sales calls. No surprises. Just transparent plans from trusted PA providers.

    .home-steps
        .home-steps__wrapper
            .home-steps__row
                .home-steps__card
                    .home-steps__card-inner
                        .home-steps__card-icon--wrap
                            img.home-steps__card-icon(src="img/content/home-steps/icon_0.png" width="52" height="52" alt="Name card")

                        .home-steps__card-info
                            .home-steps__card-name Enter ZIP
                            .home-steps__card-text We’ll find your <br /> utility and plans.

                .home-steps__card
                    .home-steps__card-inner
                        .home-steps__card-icon--wrap
                            img.home-steps__card-icon(src="img/content/home-steps/icon_1.png" width="52" height="52" alt="Name card")

                        .home-steps__card-info
                            .home-steps__card-name Compare plans
                            .home-steps__card-text Rate, term, fees, <br /> renewable %.

                .home-steps__card
                    .home-steps__card-inner
                        .home-steps__card-icon--wrap
                            img.home-steps__card-icon(src="img/content/home-steps/icon_2.png" width="52" height="52" alt="Name card")

                        .home-steps__card-info
                            .home-steps__card-name Switch online
                            .home-steps__card-text 2–3 minutes. <br /> No interruption.

    .home-warning
        .home-warning__info
            .home-warning__name Repeat the proccess
            .home-warning__text When your plan expires, you can easily return, compare plans, and switch to the most affordable option again.

        .home-warning__img--wrap
            img.home-warning__img(src="img/content/home-warning/icon.png" width="84" height="84" alt="Repeat the proccess")

    


