extends layouts/layout.pug

block title
    title About Us | PArates

block content
    .about-us
        h1.about-us__title About PowerSetter

        .about-us__container
            .about-us__main
                .about-us__info
                    p PowerSetter was co-founded by individuals who strongly believe there is no reason to overpay for electricity.
                    p The co-founders share a strong conviction that residents and businesses should be able to realize significant savings by instantly comparing multiple energy suppliers the same way they compare hotel rates on EXPEDIA. In addition, just like booking a hotel, selecting electricity and gas providers should be an easy, quick, and painless process.
                    p PowerSetter is now the largest digital energy comparison platform, educating consumers about their available energy choices, allowing them to compare multiple energy suppliers, switch to the best one, and enroll in <a href="#" target="_blank">community solar programs</a>, including <a href="#" target="_blank">low-income</a> options.

            .about-us__aside
                .about-us__aside-title Contacts

                ul.about-us__aside-list
                    li Allen Parkway, STE 200 <br /> Houston, TX 77019
                    li phone: 
                        a(href="tel:8008336952") (800) 833-6952
                    li fax: 
                        a(href="tel:8667837466") (866) 783-7466
                    li 
                        a(href="mailto:") Write us an email
                
                