extends layouts/layout.pug

block title
    title Blog | PArates

block content
    .page-head
        h1.page-head__title Blog

    .blog
        .blog__row
            .post-card
                a.post-card__inner(href="blog-article.html")
                    .post-card__img--wrap
                        img.post-card__img(src="img/content/blog-list/card_0.png" width="460" height="260" alt="Name card")

                    .post-card__info
                        h3.post-card__name Americans prepare for a summer of higher utility bills
                        .post-card__text With a hot summer in full swing, it isn’t just temperatures that are going up. Across America, households are bracing themselves for another season of painful utility bills driven by higher energy costs.

            .post-card
                a.post-card__inner(href="blog-article.html")
                    .post-card__img--wrap
                        img.post-card__img(src="img/content/blog-list/card_1.png" width="460" height="260" alt="Name card")

                    .post-card__info
                        h3.post-card__name Green Living: Save Money and the Planet
                        .post-card__text With a hot summer in full swing, it isn’t just temperatures that are going up. Across America, households are bracing themselves for another season of painful utility bills driven by higher energy costs.

            .post-card
                a.post-card__inner(href="blog-article.html")
                    .post-card__img--wrap
                        img.post-card__img(src="img/content/blog-list/card_2.png" width="460" height="260" alt="Name card")

                    .post-card__info
                        h3.post-card__name Utility Price Growth in the United States
                        .post-card__text With a hot summer in full swing, it isn’t just temperatures that are going up. Across America, households are bracing themselves for another season of painful utility bills driven by higher energy costs.

            .post-card
                a.post-card__inner(href="blog-article.html")
                    .post-card__img--wrap
                        img.post-card__img(src="img/content/blog-list/card_3.png" width="460" height="260" alt="Name card")

                    .post-card__info
                        h3.post-card__name What is electricity and how much do you use it?
                        .post-card__text With a hot summer in full swing, it isn’t just temperatures that are going up. Across America, households are bracing themselves for another season of painful utility bills driven by higher energy costs.

            .post-card
                a.post-card__inner(href="blog-article.html")
                    .post-card__img--wrap
                        img.post-card__img(src="img/content/blog-list/card_4.png" width="460" height="260" alt="Name card")

                    .post-card__info
                        h3.post-card__name Smart Thermostats Are Money-Saving Essentials for Energy Efficient Homes
                        .post-card__text With a hot summer in full swing, it isn’t just temperatures that are going up. Across America, households are bracing themselves for another season of painful utility bills driven by higher energy costs.

            .post-card
                a.post-card__inner(href="blog-article.html")
                    .post-card__img--wrap
                        img.post-card__img(src="img/content/blog-list/card_5.png" width="460" height="260" alt="Name card")

                    .post-card__info
                        h3.post-card__name How to Reduce Energy Bills
                        .post-card__text With a hot summer in full swing, it isn’t just temperatures that are going up. Across America, households are bracing themselves for another season of painful utility bills driven by higher energy costs.