extends layouts/layout.pug

block title
    title Companies | PArates

block content
    .page-head
        h1.page-head__title Alternative Energy Service Companies
        .page-head__text Deregulation in many US states lets consumers choose their energy suppliers, offering options like fixed plans and green energy. PowerSetter simplifies this process by monitoring the market for the best deals and avoiding hidden fees, providing top plans from reputable companies for peace of mind.

    .companies
        .companies__row
            .companies__card
                a.companies__card-inner(href="#company" target="_blank")
                    .companies__card-logo--wrap
                        img.companies__card-logo(src="img/content/companies-list/card_0.png" width="180" height="50" alt="Name card")

                    .companies__card-text Direct Energy, headquartered in Houston, is a major North American energy provider, serving 50 US states, DC, and 8 Canadian provinces. They offer fixed rates, transparent pricing, and diverse energy plans.

                    .btn.btn--reset.btn--arrow-right.companies__card-btn

            .companies__card
                a.companies__card-inner(href="#company" target="_blank")
                    .companies__card-logo--wrap
                        img.companies__card-logo(src="img/content/companies-list/card_1.png" width="180" height="50" alt="Name card")

                    .companies__card-text Founded in 2006 and based in Dallas, Clearview Electric serves deregulated electricity markets and plans to expand into gas markets. They offer fixed and variable rates with no service interruptions or start-up fees.

                    .btn.btn--reset.btn--arrow-right.companies__card-btn

            .companies__card
                a.companies__card-inner(href="#company" target="_blank")
                    .companies__card-logo--wrap
                        img.companies__card-logo(src="img/content/companies-list/card_2.png" width="180" height="50" alt="Name card")

                    .companies__card-text Constellation, headquartered in Baltimore, is the largest carbon-free energy producer in the US, with 32,400 MW capacity. They aim to cut all greenhouse gas emissions by 2040 and serve 2 million customers.

                    .btn.btn--reset.btn--arrow-right.companies__card-btn

            .companies__card
                a.companies__card-inner(href="#company" target="_blank")
                    .companies__card-logo--wrap
                        img.companies__card-logo(src="img/content/companies-list/card_3.png" width="180" height="50" alt="Name card")

                    .companies__card-text Catalyst Power offers commercial energy, Connected Microgrid solutions, and Community Solar to help businesses save money, cut environmental impact, and maintain power. They use innovative onsite solar and batteries.

                    .btn.btn--reset.btn--arrow-right.companies__card-btn

            .companies__card
                a.companies__card-inner(href="#company" target="_blank")
                    .companies__card-logo--wrap
                        img.companies__card-logo(src="img/content/companies-list/card_4.png" width="180" height="50" alt="Name card")

                    .companies__card-text Energy Harbor, an energy supplier and generator, emphasizes safety, reliability, and sustainability. They offer long-term price protection through their own electricity generation.

                    .btn.btn--reset.btn--arrow-right.companies__card-btn

            .companies__card
                a.companies__card-inner(href="#company" target="_blank")
                    .companies__card-logo--wrap
                        img.companies__card-logo(src="img/content/companies-list/card_5.png" width="180" height="50" alt="Name card")

                    .companies__card-text The company offers a consumer tech platform that connects millions with clean, efficient energy. Using digital marketing and multi-channel prospecting, it helps users access sustainable power.

                    .btn.btn--reset.btn--arrow-right.companies__card-btn

            .companies__card
                a.companies__card-inner(href="#company" target="_blank")
                    .companies__card-logo--wrap
                        img.companies__card-logo(src="img/content/companies-list/card_6.png" width="180" height="50" alt="Name card")

                    .companies__card-text Founded in 1999 and based in Houston, Spark Energy serves residential and commercial customers in 19 states, offering natural gas, electricity, and green alternatives with stable pricing.

                    .btn.btn--reset.btn--arrow-right.companies__card-btn

            .companies__card
                a.companies__card-inner(href="#company" target="_blank")
                    .companies__card-logo--wrap
                        img.companies__card-logo(src="img/content/companies-list/card_7.png" width="180" height="50" alt="Name card")

                    .companies__card-text Tomorrow Energy, a retail energy provider in states like IL, MD, OH, NJ, NY, and PA, offers exceptional service, innovative tech, and competitive pricing. It’s a subsidiary of the SNH Family of Companies.

                    .btn.btn--reset.btn--arrow-right.companies__card-btn

            .companies__card
                a.companies__card-inner(href="#company" target="_blank")
                    .companies__card-logo--wrap
                        img.companies__card-logo(src="img/content/companies-list/card_8.png" width="180" height="50" alt="Name card")

                    .companies__card-text SFE Energy, part of Summitt Energy, serves hundreds of thousands of electricity, natural gas, and home services customers in the Northeastern US and Canada, and is a major private retail energy supplier.

                    .btn.btn--reset.btn--arrow-right.companies__card-btn

            