extends layouts/layout.pug

block title
    title Error 404 | PArates

block content
    .page-error
        h1.page-error__title 404
        .page-error__caption Not found
        .page-error__text The resource requested could not be found on this server

    