extends layouts/layout.pug

block title
    title Main | PArates

block content
    include blocks/home-banner
    include blocks/home-steps
    include blocks/home-partners
    include blocks/home-benefits
    include blocks/home-reviews
    include blocks/home-feedback
    include blocks/home-faq
    
    

